---
title: Day 2 Configurations
owner: <%= vars.product_name %> Documentation
---



The topics in this section explain how to configure various functions of an installed and running <%= vars.product_name  %> platform, and how integrate them with external systems and resources.

##<a id='overview'></a>Overview

"Day 2" configurations are configurations that set up the internal operations and external integrations of a <%= vars.product_name %> platform that's newly deployed and running, but not yet ready to use.

Examples include front-end configuration; setting up user accounts; configuring logging, monitoring, and internal security infrastructure; and specifying container and stemcell images.
      
##<a id='contents'></a>Contents


### <a id='front'></a>Perimeter Access and Security

* <a href="./ssl-term-haproxy.html">Configuring SSL/TLS Termination at HAProxy</a>

* <a href="./config-proxy.html">Configuring Proxy Settings for All Applications</a>

* <a href="./elb-ssh-proxy.html">Creating a Proxy ELB for Diego SSH</a>

* <a href="../adminguide/supporting-websockets.html">Supporting WebSockets</a>

* <a href="../adminguide/enabling-tcp-routing.html">Enabling TCP Routing</a>

* <a href="../adminguide/enabling_ipv6.html">Enabling IPv6 for Hosted Applications</a>

* <a href="../adminguide/securing-traffic.html">Securing Traffic into Cloud Foundry</a>

* <a href="../adminguide/docker.html">Using Docker in Cloud Foundry</a>

* <a href="./docker-registry.html">Using Docker Registries</a>

### <a id='accounts'></a>User Accounts and Permissions

* <a href="https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/opsman-users.html">Creating and Managing Ops Manager User Accounts</a>

* <a href="https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/config-rbac.html">Configuring RBAC in Ops Manager</a>

* <a href="./creating-account.html">Creating PAS User Accounts</a>

* <a href="../adminguide/listing-feature-flags.html">Feature Flags</a>

* <a href="./pw-policy.html">Configuring UAA Password Policy</a>

* <a href="./external-user-management.html">Adding Existing SAML or LDAP Users</a>

* <a href="../adminguide/notifications.html">Getting Started with the Notifications Service</a>

* <a href="https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/opsmanager-create-bosh-client.html">Creating UAA Clients for BOSH Director</a>

### <a id='internal'></a>Internal Network Security

* <a href="./app-sec-groups.html">Restricting App Access to Internal <%= vars.product_name %> Components</a>

* <a href="./notifications-asg.html">Configuring Application Security Groups for Email Notifications</a>

* <a href="./config-ssh.html">Configuring SSH Access for <%= vars.product_name %></a>

* <a href="https://docs.pivotal.io/addon-ipsec/index.html">IPsec Add-on for <%= vars.product_name %></a>

### <a id='monitor'></a>Monitoring

* <a href="https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/monitoring/metrics.html">Selecting and Configuring a Monitoring System</a>

* <a href="./logging-config-opsman.html">Configuring Logging in PAS</a>

* <a href="../loggregator/nozzle-tutorial.html">Deploying a Nozzle to the Loggregator Firehose</a>

* <a href="../loggregator/cli-plugin.html">Installing the Loggregator Plugin for cf CLI</a>

* <a href="../adminguide/configure-lb-healthcheck.html">Configuring Load Balancer Healthchecks for Cloud Foundry</a>

### <a id='maintenance'></a>Maintenance and Customization

* <a href="./config-cell-cleanup.html">Configuring Cell Disk Cleanup Scheduling</a>

* <a href="./custom-branding.html">Custom Branding Apps Manager</a>


